@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@source "../src/**/*.{ts,tsx,mdx}";
@source "../../../../packages/**/*.{ts,tsx,mdx}";

@theme inline {
  --font-heading: Inter, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */
:root {
  --background: hsl(0 0% 98.0392%);
  --foreground: hsl(21.8182 21.5686% 10%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(21.8182 21.5686% 10%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(21.8182 21.5686% 10%);
  --primary: hsl(38.2609 54.1667% 47.6471%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(38.2609 54.1667% 90%);
  --secondary-foreground: hsl(240.1022 11.2443% 3.9839%);
  --muted: hsl(240 4.7619% 95.8824%);
  --muted-foreground: hsl(240 5.9322% 46.2745%);
  --accent: hsl(240 9.8039% 90.0000%);
  --accent-foreground: hsl(240.1022 11.2443% 3.9839%);
  --destructive: hsl(349.2105 100.0000% 55.2941%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(240 9.8039% 90.0000%);
  --input: hsl(240 9.8039% 90.0000%);
  --ring: hsl(38.2609 54.1667% 47.6471%);
  --chart-1: hsl(38.2609 54.1667% 70%);
  --chart-2: hsl(38.2609 54.1667% 60%);
  --chart-3: hsl(38.2609 54.1667% 50%);
  --chart-4: hsl(38.2609 54.1667% 40%);
  --chart-5: hsl(38.2609 54.1667% 30%);
  --sidebar: hsl(0 0% 98.0392%);
  --sidebar-foreground: hsl(21.8182 21.5686% 10%);
  --sidebar-primary: hsl(25.7143 13.7255% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98.0392%);
  --sidebar-accent: hsl(240 4.7619% 95.8824%);
  --sidebar-accent-foreground: hsl(25.7143 13.7255% 10%);
  --sidebar-border: hsl(240 9.8039% 90.0000%);
  --sidebar-ring: hsl(240 9.8039% 90.0000%);
  --font-sans: var(--font-geist-sans), ui-sans-serif, sans-serif, system-ui;
  --font-serif: Playfair, ui-serif, serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 0.675rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(0 0% 3.9216%);
  --foreground: hsl(0 0% 98.0392%);
  --card: hsl(0 0% 9.0196%);
  --card-foreground: hsl(0 0% 98.0392%);
  --popover: hsl(0 0% 14.9020%);
  --popover-foreground: hsl(0 0% 98.0392%);
  --primary: hsl(164.3318 183.0013% 26.1055%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(165.4903 141.8478% 15.6184%);
  --secondary-foreground: hsl(0 0% 98.0392%);
  --muted: hsl(0 0% 14.9020%);
  --muted-foreground: hsl(0 0% 63.1373%);
  --accent: hsl(165.4903 141.8478% 15.6184%);
  --accent-foreground: hsl(0 0% 98.0392%);
  --destructive: hsl(349.0909 100% 59.0196%);
  --destructive-foreground: hsl(0 0% 98.0392%);
  --border: hsl(0 0% 15.6863%);
  --input: hsl(0 0% 20.3922%);
  --ring: hsl(0 0% 45.0980%);
  --chart-1: hsl(165.5688 169.4667% 17.7469%);
  --chart-2: hsl(164.4889 182.2437% 21.2206%);
  --chart-3: hsl(164.3318 183.0013% 26.1055%);
  --chart-4: hsl(164.7862 160.6702% 31.9404%);
  --chart-5: hsl(157.2954 76.2510% 64.2471%);
  --sidebar: hsl(0 0% 9.0196%);
  --sidebar-foreground: hsl(0 0% 98.0392%);
  --sidebar-primary: hsl(349.1304 100% 27.0588%);
  --sidebar-primary-foreground: hsl(0 0% 98.0392%);
  --sidebar-accent: hsl(0 0% 14.9020%);
  --sidebar-accent-foreground: hsl(0 0% 98.0392%);
  --sidebar-border: hsl(0 0% 15.6863%);
  --sidebar-ring: hsl(0 0% 32.1569%);
  --font-sans: var(--font-geist-sans), ui-sans-serif, sans-serif, system-ui;
  --font-serif: Playfair, ui-serif, serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 0.675rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

button {
  @apply cursor-pointer;
}


/* prevent Scroll locked */

body[data-scroll-locked][data-scroll-locked] {
  --removed-body-scroll-bar-size: 0px;
  overflow: auto !important;
  overscroll-behavior: contain;
  position: relative !important;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0 !important;
}
